h1 {
    text-align: center;
}

body {
    background-color: gray;
    padding: 50px;
}

.title {
    color: black;
    font-size: large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 70px;
    background-color: darkgreen;
}